.contact-page {
  background-color: var(--dark-bg);
  /* height: 100vh; */
}

.contact-info {
  margin-left: 70px;
  padding-top: 30px;
}

.field-name {
  text-align: left !important;
}

.telefone {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.btn-search {
  width: 150px !important;
  font-size: 18px !important;
  height: 40px;
}